<h3>Angular Lesson 1 Exercises</h3>
<div class="box1">
    <h4>Movies to watch</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati dicta vero ullam dolorem at quaerat,
        similique et error! Velit reiciendis dolores natus aspernatur debitis unde similique obcaecati nemo itaque sunt!
    </p>
</div>
<div class="box2">
    <h4 class="a">Random Images</h4>
    <div class="para"></div>
</div>
<div class="box3">
    <h4 class="b">Today's Chores</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa corrupti veritatis distinctio placeat voluptatibus similique aliquid iste quae qui, non a explicabo dolorum minus delectus ea expedita possimus! Odit, fugit.</p>
</div>